body{
    background-color: #f5f6fa;
    padding: 20px;
    text-align: center;
}

form{
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 300px;
    margin: auto;
    padding: 20px;
}

input, select, button{
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: rgb(64, 162, 195);
    color: white;
}

button:hover{
    background-color: rgb(80, 80, 243);
}

