h1 {
    color: red;
    /* اسم اللون */
}

p {
    color: #ff5733;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

div {
    color: rgb(0, 128, 255);
    /* كود RGB */
}

div {
    width: 200px;
    height: 100px;
    background-color: lightblue;
}

body {
    background-color: #f0f0f0;
    background-image: url("bg.jpg");
    background-size: cover;
}
