<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Layout CSS Examples</title>
</head>

<body>
    <h2>التدريب التقني في سطور</h2>
    <p class="one"><img src="logo.png"/> المؤسسة العامة للتدريب التقني والمهني هي جهة حكومية سعودية تُعنى بتنمية القوى العاملة الوطنية من خلال تقديم برامج تدريبية متخصصة في مختلف المجالات التقنية والمهنية. تأسست المؤسسة بهدف تلبية احتياجات سوق العمل السعودي من الكوادر الوطنية المؤهلة، وتعد اليوم أحد أكبر مزودي التدريب التقني في منطقة الشرق الأوسط.</p>
    <p class="two"><img src="logo.png"/> تقدم المؤسسة برامج متعددة تشمل الدبلومات والبكالوريوس في الكليات التقنية والمعاهد الصناعية، بالإضافة إلى برامج التدريب المجتمعي والتدريب في السجون وبرامج موجهة لذوي الاحتياجات الخاصة. كما تتيح المؤسسة فرصاً للتدريب في مجالات متنوعة مثل التقنية الكهربائية، وتقنية المعلومات، والإدارة، والميكانيكا، وغيرها، مما يتيح للمتدربين اكتساب المهارات اللازمة للنجاح المهني.</p>
    <p class="three"><img src="logo.png"/> تسعى المؤسسة إلى تعزيز الشراكات مع القطاعين العام والخاص لضمان مواءمة مخرجات التدريب مع متطلبات سوق العمل، كما تعمل على تطوير جودة التدريب من خلال تحديث المناهج، وتأهيل المدربين، وتوفير بيئة تعليمية حديثة. وتُعد رؤيتها جزءًا من رؤية المملكة 2030 الرامية إلى تمكين الشباب وزيادة نسبة مشاركة القوى الوطنية في الاقتصاد الوطني.</p>
</body>

</html>