<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Layout CSS Examples</title>
</head>
<body>
    <div class="parent">
        <h1>Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sapiente molestiae temporibus, amet, corporis neque laborum dolorem eos quos quam ad. Accusamus rem odio quia explicabo non fugiat quam dolores!</p>
        <div class="child">
            <h2>Title 2</h2>
        </div>
    </div>
</body>
</html>


