*{
    direction: rtl;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

body{
    background-color:beige;
}

#main-title{
    color: tomato;
    font-size: 2em;
    background-color: rgb(0, 230, 230)
}

#card{
    background-color:white;
    border: 2px solid #ccc;
    text-align: center;

    width: 250px; /*50%*/
    height: 250px;
}

.name{
    color: darkblue;
}

.title{
    color: gray;
    font-size: 0.9em;
}

.desc{
    text-decoration: underline; 
}

h1, footer{
    color: tomato;
}