/* إعداد عام */
* {
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    direction: rtl;
}

body {
    background: #cfe0e4;
    margin: 0;
    text-align: center;
}

header {
    background-color: #34495e;
    color: #fff;
    padding: 25px 0;
}

#card {
    background-color: #ffffff;
    width: 340px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
}


img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #3498db;
    margin-bottom: 15px;
}

.name {
    font-size: 22px;
    font-weight: bold;
    color: #2c3e50;
    margin: 5px 0;
}

.title {
    font-size: 15px;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
}

.contact-box {
    background-color: #f2f9ff;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #d0e6ff;
}


footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    margin-top: 40px;
}
