/* المحدد العام */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* محدد العنصر (Element Selector) */
p {
    color: red;
}

h1 {
    text-align: center;
}

/* محدد المعرف (ID Selector) */
#main-title {
    background-color: beige;
    font-size: 28px;
}

/* محدد الفئة (Class Selector) */
.section-title {
    color: cadetblue;
    border-bottom: solid;
    margin-bottom: 15px;
}


/* المحدد الجماعي (Grouping Selector) */

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: red;
}

h1, h2, p {
    text-align: center;
    color: red;
}
  
