.ex1{
    display: none;
}

.ex2{
    background-color: gold;
    display: inline;
}

.ex3{
    background-color: tomato;
    display: block;
}

.ex4{
    background-color: lightgreen;
    display: inline-block;
    height: 20px;
}

img{
    width: 80px;
    display: block;
    margin: 2rem;
}