<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Layout CSS Examples</title>
</head>
<body>
    <div></div>
    <h1>Heading 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laboriosam ipsam tempora commodi iusto, labore dolore repellat ea consequuntur aliquam repellendus, illum perferendis velit quia minus quae molestias? Ipsum, nostrum?</p>
    <h1>Heading 2</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laboriosam ipsam tempora commodi iusto, labore dolore repellat ea consequuntur aliquam repellendus, illum perferendis velit quia minus quae molestias? Ipsum, nostrum?</p>
    <h1>Heading 3</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laboriosam ipsam tempora commodi iusto, labore dolore repellat ea consequuntur aliquam repellendus, illum perferendis velit quia minus quae molestias? Ipsum, nostrum?</p>
    <h1>Heading 4</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laboriosam ipsam tempora commodi iusto, labore dolore repellat ea consequuntur aliquam repellendus, illum perferendis velit quia minus quae molestias? Ipsum, nostrum?</p>
</body>
</html>


