
body {  min-width:600px; }

#container{
    border: 1px solid black;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    /* flex-direction: column;
    align-items: center; */
}

.box{
    background-color: silver;
    text-align: center;
    font-size: 35px;
    width: 100px;
    margin: 5px;
}